pandas
numpy
torch
matplotlib
scikit-learn
seaborn 
xgboost 
statsmodels 
ipykernel 
ipython_genutils 
jupyter_contrib_nbextensions 
ipython 
ipywidgets
pyproj
torchvision 
openpyxl
dotenv
requests
bs4
selenium  
basketball_reference_web_scraper
tqdm
pyamg